<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>
            @Html.ActionLink("Add product", "AddProduct")
        </li>
        <li>
            @Html.ActionLink("Add category", "AddCategory")
        </li>
    </ul>
</div>
