@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose your action :</h2>

<div class="panel">
    <div class="panel-body">

        @*@Html.ActionLink("Add product", "AddProduct")*@
        

    </div>
</div>
