@model FoodCalculator.Models.MealViewModel

@{
    ViewBag.Title = "Show Meals";
}

<h2>Meals</h2>

<table class="table table-striped table-hover" id="mealDetailsTable">
    <thead>
    <tr>
        <th>
            No
        </th>
        <th>
            Meal name
        </th>
        <th>
            Meal type name
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meals) {
    <tr id="tableRowClick" data-toggle="modal" data-id="@item.Value.MealID" data-target="#mealModal" >
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.MealName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.MealType.MealTypeName)
        </td>
    </tr>
}   
    </tbody>
</table>

